@model NewProject.Models.Test

@{
    ViewBag.Title = "Trys";
}




<div class="test1">


   <h1>@ViewBag.Accountname</h1>
  <h1>@ViewBag.Account</h1> 
    <h1>@ViewBag.tests</h1>
   
           
            @Html.ActionLink("One data", "Tables", "Home")


@*@foreach (var item in ViewBag.Accountname)
{
    @item.Id <br />
    @item.Name <br />
    @item.Accountname<br />
    @item.Password<br />
    @item.Phoneno<br />

}*@

        </div>